# Copia questo file come .env per test locale
# Su Railway aggiungi queste variabili nel pannello "Variables"

BOT_TOKEN=il_tuo_token_da_botfather
CHANNEL_ID=@nome_del_tuo_canale
AFFILIATE_TAG=fullrace-21
CHECK_INTERVAL_HOURS=6
